
.modal {
    z-index: 10;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_container {
    width: 90%;
    height: 70%;
    background-color: #272C2F;
    border-radius: 2vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
}

.card {
    position: absolute;
    bottom: 8%;
    width: 85vw;
}

.close {
    position: absolute;
    top: 6%;
    right: 3%;
    background-color: transparent;
    border: none;
    outline: none;
}

.close img {
    width: 2.5vw;
    cursor: pointer;
}

